/* Universal Styles */

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.content {
  max-width: 1600px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.bold {
  font-weight: 900;
}

.texts{
  text-align: left;
}

.texts h1{
  font-size: 2em;
  font-weight: 900;
  color: #383838;
}


.texts h3 {
  font-size: 2em;
  font-weight: 900;
  color: #383838;
}

.texts p{
  font-size: 1.5em;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: #383838;
}

.primary{
  width: 60%;
  padding: 2rem 1.5rem;
}

.primary img{
  width: 100%;
}

.secondary {
  width: 440px;
  margin: auto;
  font-size: 1rem;
}

nav li a, nav li, .copyright span{
  color: #383838;
}

/* Header */
header,footer {
  /* position: fixed; */
  width: 100%;
  /* background-color: white; */
  /* z-index: 1; */
  color: #3D3D3D;
  font-size: 1rem;
  height: 4rem;
  padding-left: .5rem;
}

header .light{
  color:#ADADAD;
}

.top, .bot {
  padding: 1rem .5rem;
}

nav ul {
  display: flex;
}

nav li {
  padding-right: 1rem;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {  /* how come just .desktop doesn't work?*/
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
}

/* Main Banner */
.banner {
  background-color: #D3D3D3;
}

.banner .texts{
  width: 80%;
  padding: 1rem;
}

.banner .texts p{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.banner .texts h1{
  font-size: 3rem;
}
.banner .button{
  background-color: #565656;
  text-align: center;
  transition: background-color .5s linear;
}

.banner .button:hover{
  background-color: #67C5AF;
}

.banner .texts .button p{
  font-size: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: white;
}

.banner .secondary .flex{
  flex-direction: column;
  align-items: stretch;
}

@media only screen and (max-width: 760px) {
  .banner .content{
    display: block;
  }
  .banner .primary, .banner .secondary{
    width: 100%;
    margin: 0;
    padding: 0;

  }
  .banner img{
    width: 100%;
  }
  .banner .texts{
    margin: auto;
  }
}
/* Main Articles why is my right photos not aligning with left photo? */

.articles .primary{
  font-size: .7rem;
  border-right: 1px solid #EFEFEF;
}

.articles .primary .texts{
  padding-top: 2rem;
}

.articles .primary .texts h1{
  font-size: 1.5rem;
}

.articles .primary .texts p{
  font-size: 1rem;
}

.articles .primary p.signature{
  font-size: .5rem;
  padding-bottom: 0.5rem;
}

.information{
  padding: 1rem 0 2rem 0;
  margin: 0 auto auto 0;
  flex-direction: column;
  justify-content: flex-start;
}

.information img{
  width: 35%;
  padding: 1rem;
}

.info{
  width: 100%;
  /* margin: 1px auto; */
  transition: background-color .5s ease-out;
}

.info:hover{
  background-color: #D3D3D3;
}

.info .texts{
  width: 65%;
  font-size: .6rem;
  padding: 0;
}

.articles .info .texts p:last-child{
  padding-top: 0;
}

.info .texts a{
  color: blue;
  transition: color .2s linear;
}

.info .texts a:hover{
  color: #67C5AF;
}

#campus{
  border-top: 1px solid #EFEFEF;
  border-bottom: 1px solid #EFEFEF;
  padding-top: 1px;
  padding-bottom: 1px;
}

/* #guest_lecture{

} */

.articles .mobile{
  display: none;
}

@media only screen and (max-width: 760px) {
  .articles .desktop{
    display: none;
  }
  .articles .primary{
    border-right: 0px;
  }
  .articles .secondary{
    margin: auto;
    padding: 0 1rem;
  }
  .articles img.mobile{
    display: flex;
    width: 100%;
  }
  .articles .info{
    flex-direction: column;
    border: 0;
  }
  .articles .info .texts{
    width: 100%;
    padding-left: 1rem;
  }
  #guest_lecture{
    padding-bottom: 2rem;
  }
  #campus{
    border-top: 0px;
    border-bottom: 0px;
  }
}

/* Start Learning Section */

.start_learning {
  background-color: #EFEFEF;
}

.start_learning .content{
  max-width: 1000px;
  justify-content: center;
  margin: auto;
}

.heading h1{
  font-weight: 900;
  font-size: 2rem;
  padding-top: 2rem;
  text-align: center;
  color: #383838;
}

.courses {
  flex-wrap: wrap;
  flex-direction: row;
  width: 85%;
  margin: 2rem auto 0;
  padding-bottom: 1rem;
  font-size: .6rem;
}

.course {
  width: 32%;
  height: 17rem;
  background-color: white;
  margin-bottom: 1.5rem;
}

.course img{
  width: 100%;
}

.course .texts{
  padding: 1rem 1.5rem 1rem;
}

.course .texts p{
  padding: 0;
  font-size: 1.5em;
  color:#ADADAD;
}

.course .texts .middle{
  padding-top: 1.5rem;
  padding-bottom: .5rem;
}

.start_learning .courses-m.mobile{
  display: none;
}

@media only screen and (max-width: 760px) {
  .start_learning .courses.desktop{
    display: none;
  }

  .start_learning{
    background-color: white;
  }
  .start_learning .courses-m.mobile{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem;
  }
  .start_learning .courses-m.mobile a{
    background-color: #D3D3D3;
    padding: 1rem 1rem;
    margin: .25rem 1rem;
    transition: background-color .5s ease-out, color .5s ease-out;
  }
  .start_learning .courses-m.mobile a:hover{
    background-color: #383838;
    color: white;
  }
}

/* Thesis Exhibit */
.thesis_exhibit{
  font-size: .6rem;
}

/* .thesis_exhibit h1{
  font-weight: bold;
  font-size: 2rem;
  padding-top: 2rem;
  text-align: center;
} */
video{
  width: 100%;
  padding-bottom: 1.5rem;
}

@media only screen and (max-width: 760px) {
  .thesis_exhibit .primary .texts, .thesis_exhibit .secondary.desktop{
    display: none;
  }
  .thesis_exhibit .primary, .thesis_exhibit .primary video{
    width: 100%;
    padding-bottom: 0;
  }

}

/* footer */
footer{
  border-top: 1px solid #EFEFEF;
  color: #383838;
}

@media only screen and (max-width: 760px) {
  footer{
    border-top: 0px;
  }
  .bot .desktop{
    display: none;
  }
  .copyright {
    width: 100%;
    text-align: center;
  }

  .content{
    border-bottom: 1px solid #EFEFEF;
  }
}
