/* universal settings */
body {
  background-color: black;
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  font-size: 22px;
  text-align: center;
  margin-top: 0;
}

.flexbox {
  display: flex;
  justify-content: center;
}

/* Header and Nav  */

header {
  display: flex;
  width: 100%;
  position: fixed;
  z-index: 1;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  background-color: black;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo img {
  height: 50px;
  padding-left: 10px;
}

header nav {
  display: inline-block;
  /* font-size: 20px; */
}

header nav span {
  text-decoration: underline;
  padding: 20px 10px;
}

/* need this otherwise it turns blue, why? */
nav a {
  color: seashell;
}

/* Main Section */
.main {
  padding-top: 69px;
  width: 1200px;
  margin: auto;
}

/* Mission Section */
.mission {
  /* display: flex;
  justify-content: center; */
  flex-direction: column;
  /* width: 1200px; */
  height: 700px;
  background-image: url(./images/img-mission-background.jpg);
  padding-top: 70px;
}

.statement {
  width: 100%;
  background-color: black;
  margin: auto;
}

h2 {
  margin: 0;
  padding: 10px;
  font-size: 35px;
}

h4 {
  margin: 0;
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

/* Tea of the Month */
.tea_month {
  width: 1000px;
  padding-top: 70px;
  height: 700px;
  margin: auto;
}

.tea_types {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tea_types img {
  height: 200px;
  width: 300px;
  display: inline-block;
  padding: 10px;
}

/* Locations */
.locations {
  justify-content: center;
  height: 500px;
  padding-top: 70px;
  background-image: url(./images/img-locations-background.jpg);
}

h3 {
  margin: 0;
  padding: 10px;
  font-size: 25px;
}

.all_locations {
  /* margin-top: 5px; */
  /* display: flex;
  justify-content: center; */
  flex-wrap: wrap;
  padding-top: 5px;
}

.location {
  background-color: black;
  opacity: 1.0;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  flex-basis: 280px;
  padding: 10px;
  align-items: center;
  height: 260px;
  margin: 5px 20px;
}

/* Contact Us */

.contact {
  height: 200px;
}

/* footer */
footer {
  text-align: left;
  margin-left: 20px;
  font-size: 20px;
  font-weight: 700;
}
